@import "./../../../styles/constants.scss";

.user {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  padding: 5px 0;
  background-color: $base-bgc-color;
  border-bottom: 1px solid $base-font-border-color;
  transition: 0.5s;
  &:hover {
    background-color: $bgc-darken-color;
  }
}

.user__details {
  flex-basis: 25%;
}

.user__btn {
  margin-left: 10px;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    color: $font-border-hover-color;
    border-bottom: 1px solid $font-border-hover-color;
  }
}

.user__btn--red {
  color: $font-border-red;

  &:hover {
    color: $font-border-hover-lighter-red;
    border-bottom: 1px solid $font-border-hover-lighter-red;
  }
}
