@import "./../../../styles/constants.scss";
@import "./../../../styles/mixins.scss";

.toolbar {
  align-self: center;
  display: flex;
  justify-content: space-between;
}

.toolbar__form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 0;

  @media (min-width: $breakpoint-mid) {
    flex-wrap: nowrap;
  }
}

.toolbar__label {
  margin: 0 10px;
  text-transform: uppercase;
}

.toolbar__input {
  @include input-style(80);

  @media (min-width: $breakpoint-mid) {
    @include input-style(150);
  }
}

.toolbar__input--smaller {
  @include input-style--smaller(40);

  @media (min-width: $breakpoint-mid) {
    @include input-style--smaller;
  }
}

.toolbar__btn {
  @include button-style;
}
