.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
}

.list__header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(35, 60, 76);
  color: rgb(35, 60, 76);
}

.list__header_description {
  flex-basis: 25%;
  text-transform: uppercase;
  font-weight: bold;
}

.list__users_list {
  width: 100%;
  list-style: none;
}
