@import "./../../styles/constants.scss";

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  width: 100%;
}

.list__header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid $base-font-border-color;
  color: $base-font-border-color;
}

.list__header-description {
  flex-basis: 25%;
  text-transform: uppercase;
  font-weight: bold;
}

.list__users-list {
  width: 100%;
  list-style: none;
}
