.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
}

.list__header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(35, 60, 76);
  color: rgb(35, 60, 76);
}

.list__header_description {
  flex-basis: 25%;
  text-transform: uppercase;
  font-weight: bold;
}

.list__users_list {
  width: 100%;
  list-style: none;
}

.list__user {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  padding: 5px 0;
  background-color: rgb(205, 227, 238);
  // background-color: lightblue;
  border-bottom: 1px solid gray;
  transition: 0.5s;
  &:hover {
    // background-color: darken($color: lightblue, $amount: 5);
    background-color: darken($color: rgb(205, 227, 238), $amount: 15);
  }
}

.list__user_details {
  flex-basis: 25%;
}

.list__user_btn {
  margin-left: 10px;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    border-bottom: 1px solid rgb(35, 60, 76);
  }
}
