@import "./constants.scss";

@mixin input-style($width: 200) {
  width: #{$width}px;
  padding-left: 5px;
  margin-top: 20px;
  font-size: 10px;
  border: none;
  border-bottom: 1px solid $base-font-border-color;

  @media (min-width: $breakpoint-mid) {
    margin-top: 0;
    font-size: 16px;
  }

  &:focus {
    outline: none;
    font-weight: bold;
    color: $font-border-hover-color;
    border-bottom: 1px solid $font-border-hover-color;
  }
}

@mixin input-style--smaller($width: 70) {
  width: #{$width}px;
}

@mixin button-style {
  background-color: $base-bgc-color;
  border: none;
  font-size: 10px;
  text-transform: uppercase;
  padding: 8px 15px;
  margin-left: 10px;
  cursor: pointer;
  transition: 0.5s;

  @media (min-width: $breakpoint-mid) {
    font-size: 16px;

    &:hover {
      background-color: $bgc-darken-color;
    }
  }
}
