@import "./../../styles/constants.scss";

.main {
  width: 100%;
  min-height: $content-height;
}

.main__wrapper {
  display: flex;
  padding: 10px;
  width: 100%;
  min-height: $content-height;
  margin: 0 auto;

  @media (min-width: $breakpoint-mid) {
    width: 90%;
  }
}
