@import "./../../../styles/constants.scss";
@import "./../../../styles/mixins.scss";

.details__wrapper {
  flex-grow: 1;
  width: 100%;
  margin-bottom: 50px;
}

.details__label {
  margin: 0 10px;
  text-transform: uppercase;
}

.details__input {
  @include input-style(80);

  @media (min-width: $breakpoint-mid) {
    @include input-style;
  }
}

.details__input--smaller {
  @include input-style--smaller(40);

  @media (min-width: $breakpoint-mid) {
    @include input-style--smaller;
  }
}
