@import "./../../styles/constants.scss";
@import "./../../styles/mixins.scss";

.add-user {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.add-user__title {
  margin: 15px 0 30px;
  text-transform: uppercase;
}

.add-user__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.add-user__btn {
  @include button-style;
}

.add-user__error-title {
  margin: 15px 0;
  color: $font-border-red;
}

.add-user__error-description {
  margin-top: 5px;
}

.add-user__error-description-bold {
  font-weight: bold;
}

.add-user__correct-sending-info {
  margin-top: 50px;
  color: green;
  font-weight: bold;
  text-transform: uppercase;
}

.add-user__fetch-error {
  margin-top: 10px;
  color: $font-border-red;
}
