.add-user {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.add-user__title {
  text-transform: uppercase;
}

// .add-user__form {}

//.add-user__btn{}

//.add-user__error-title{}

//.add-user__error-description{}
