@import "./../../styles/constants.scss";
@import "./../../styles/mixins.scss";

.delete-user {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 100px;
}

.delete-user__title {
  margin-bottom: 30px;
  text-transform: uppercase;
}

.delete-user__question {
  margin-top: 10px;
}

.delete-user__span {
  margin: 0 5px;
  font-size: 18px;
  font-weight: bold;
}

.delete-user__btn-wrapper {
  margin-top: 40px;
}

.delete-user__btn {
  @include button-style;
}
