@import "./../../styles/constants.scss";

.header {
  width: 100%;
  height: 10vh;
  border-bottom: 1px solid $base-font-border-color;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.header__logo {
  background-image: url("../../images/EkoOknaLogo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  cursor: pointer;
}

.header__list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.header__list_link {
  text-decoration: none;
}

.header__list_item {
  margin-left: 10px;
  padding: 5px 10px;
  text-transform: uppercase;
  transition: 0.5s;
  border-bottom: 1px solid transparent;
  cursor: pointer;

  &:hover {
    color: $font-border-hover-color;
    border-bottom: 1px solid $font-border-hover-color;
  }
}
